## project ##
build/
latex/
bin/
*.log
*~
*.db
.DS*
nbproject/
.metadata/

# version.h should be created by cmake with git info
src/version.h

# Doxyfile should be created by cmake with git info
Doxyfile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
